* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 1vh;
  padding-bottom: clamp(110px, 42vh - 13vw, 280px);
  gap: 2vh;
}

.CalculationPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.CalculationSection {
  width: 49%;
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #684444b9;
  border: clamp(2px, 0.3vw, 10px) solid black;
  border-radius: 10px;
}

.CompetedProduction {
  width: 95%;
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #684444b9;
  border: clamp(2px, 0.3vw, 10px) solid black;
  border-radius: 10px;
}

.resultSection {
  -webkit-text-stroke: 0.06em rgb(0, 0, 0);
}

.endAlign {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.3vh;
}

.buttonCalculate {
  width: 25vh;
  height: 8.5vh;
  background-color: #348b60;
  font-size: clamp(14px, 1.5vw, 60px);
}

.buttonReset {
  width: 4vw;
  min-width: 50px;
  height: 4vh;
  background-color: #b8b246;
  font-size: clamp(12px, 1vw, 60px);
}

.finalResultPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(100px, 40vh - 13vw, 280px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
  background-color: #738e92;
  border-top: clamp(2px, 0.3vw, 10px) solid black;
  flex-wrap: wrap;
  padding: 0.5vh;
  z-index: 100;
}

.totalResult {
  font-weight: 800;
  font-size: clamp(16px, 1.3vw, 60px);
  border-radius: 10px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
  text-align: left;
}

.productionBtns {
  width: 5vh;
  height: 5vh;
  background-color: #b8b246;
}

.divProductionBtns {
  width: 50%;
  height: 50%;
  display: flex;
  gap: 2%;
  margin-top: 1%;
}

.divProductRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.divProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
}

.lastProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vh;
  margin-bottom: 3vh;
}

.infoBtn {
  width: 9vh;
  height: 9vh;
  background-color: #4873a8;
  margin-left: 4vh;
  font-size: clamp(12px, 1.3vw, 60px);
}

.coverPanel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2da2;
  z-index: 1000;
}

.infoTextHolder {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #456c71;
  border: clamp(2px, 0.3vw, 10px) solid black;
  overflow: hidden;
  padding-bottom: 10px;
  border-radius: 10px;
  gap: 1vh;
}

.infoText {
  width: 90%;
  color: #fffdd8;
  font-weight: 500;
  font-size: clamp(12px, 1.3vw, 60px);
  overflow-y: auto;
  line-height: 1.5;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.351);
  border-radius: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.panelBtn {
  width: 15vh;
  height: 6vh;
  background-color: #ad6e36;
}

.actionPanel {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #456c71;
  padding-bottom: 1.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border: clamp(2px, 0.3vw, 10px) solid black;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

.eraseRowBtn {
  width: 3vh;
  height: 3vh;
  background-color: rgb(157, 41, 41);
  font-size: clamp(12px, 1vw, 60px);
}

.addRow {
  width: 4vw;
  min-width: 40px;
  height: 5vh;
  background-color: #b8b246;
}

.rowDiv {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1.05vw, 60px);
  gap: 0.3vw;
}

.customLabel {
  width: 12.2vw;
  min-width: 140px;
  height: 5vh;
  border: clamp(2px, 0.2vw, 5px) solid rgba(33, 33, 33, 0);
  padding: 0vw 0vh;
  background-color: #9e744400;
  color: #fffbb6;
  text-align: right;
  font-family: "Fira Code", monospace;
}

.actionPanelBtns {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.choiceBtn {
  background-color: #00000052;
  border-radius: 10px;
  border: clamp(2px, 0.2vw, 15px) solid rgba(0, 0, 0, 0.252);
  color: #fffbb6;
  font-family: "Fira Code", monospace;
}

.choiceCommonBtn {
  width: 70%;
  height: 10%;
  font-size: clamp(4px, 1vw, 60px);
}

.choicePersonalizedBtn {
  width: 90%;
  height: 60%;
  font-size: clamp(8px, 2vw, 60px);
}

.choicesPanel {
  width: 95%;
  height: 150%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(107, 51, 153, 0.189);
  border-radius: 10px;
  border: clamp(2px, 0.2vw, 15px) solid rgba(0, 0, 0, 0.405);
  gap: 3%;
  overflow-y: auto;
}

.choiceColumn {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 1vh;
}

.panelLabel {
  font-weight: 600;
  font-size: clamp(10px, 1.7vw, 60px);
  text-align: center;
  margin-bottom: 10px;
}

.checkbox {
  width: 1.5vw;
  min-width: 20px;
  height: 1.5vw;
  min-height: 20px;
  cursor: pointer;
}

.elementType {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.298);
  border: clamp(2px, 0.2vw, 15px) solid rgba(0, 0, 0, 0.252);
}

.newCustomRowInput {
  width: 14vw;
  min-width: 100px;
  height: 6vh;
  font-size: clamp(12px, 1.05vw, 60px);
  text-align: center;
}

.radioBtnLabel {
  background-color: rgba(0, 0, 0, 0.249);
  padding: 5px;
  border-radius: 7px;
}

.peopleDiv {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1vh;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
}

.peopleBtns {
  width: 20vw;
  height: auto;
  background-color: #ad6e36;
}

.workScheduleDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 10px;
  padding: 1vh;
}

.rowPeopleSelect {
  width: 3vw;
  min-width: 30px;
  height: 4vh;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 10;
}

.leanguageDiv {
  width: 6vw;
  top: 26%;
  left: 18%;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.504);
  padding: 1vh 2vh;
}

.flagBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 3vw;
  height: 3vw;
}

.questionBtn {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #4873a8;
  font-size: clamp(10px, 1vw, 60px);
}
