* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  font-family: "Inter";
  padding-bottom: 10px;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  gap: 15px;
}

h1 {
  font-size: calc(10px + 4vmin);
  color: rgb(195, 115, 44);
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: calc(2px + 4vmin);
  color: rgb(55, 107, 185);
  font-weight: 700;
}

.CalculationPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.CalculationSection {
  width: 30%;
  min-width: 400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #424242;
  border: 10px solid black;
}

.result {
  color: #ac2727;
  font-weight: 650;
  margin-top: auto;
}

.endAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.3vh;
}

label {
  font-weight: 500;
  font-size: calc(1vh + 1.2vmin);
  color: #fffbb6;
  display: flex;
  align-items: center;
  gap: 0.8vh;
}

input {
  width: 10vh;
  height: 2vh;
  background-color: #63411b;
}

input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.5;
  font-weight: 600;
  font-size: inherit;
}

select {
  width: 10.7vh;
  height: 2.3vh;
  background-color: #63411b;
  font-weight: 600;
  color: #232323;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.buttonCalculate {
  width: 20vh;
  height: 8.5vh;
  background-color: #257b50;
  font-size: calc(10px + 2vmin);
}

.buttonReset {
  width: 6.5vh;
  height: 4vh;
  background-color: #8d882a;
  font-size: calc(10px + 1vmin);
}

.finalResultPanel {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
  background-color: #424242;
  border: 10px solid black;
}

.totalResult {
  width: 17vh;
  color: #b60000;
  font-weight: 650;
  font-size: calc(10px + 2vmin);
  line-height: 1.6;
  background-color: #2b2b2b;
}

.productionBtns {
  width: 3.2vh;
  height: 3.2vh;
  background-color: #8d882a;
  font-size: calc(10px + 2vmin);
}

.divProductionBtns {
  width: 45vh;
  display: flex;
  gap: 0.7vh;
}

.divProductRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.7vh;
}

.divProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vh;
}

.lastProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vh;
  margin-bottom: 3vh;
}

.infoBtn {
  width: 7vh;
  height: 7vh;
  background-color: #264472;
  font-size: calc(10px + 2vmin);
  margin-left: 4vh;
}

.infoPanel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2da2;
}

.infoTextHolder {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #253d40;
}

.infoText {
  width: 90%;
  color: #fffdd8;
  font-weight: 500;
  font-size: calc(8px + 1.3vmin);
  line-height: 1.5;
  text-align: left;
}

.infoOkBtn {
  width: 12vh;
  height: 6vh;
  background-color: #ad6e36;
  font-size: calc(10px + 2vmin);
}

.mandatoryFieldsPanel {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #253d40;
  gap: 8vh;
}
