* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  padding: 15px;
  gap: 20px;
}

.CalculationPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.CalculationSection {
  width: 30%;
  min-width: 350px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #453b3d;
  border: 10px solid black;
}

.endAlign {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.buttonCalculate {
  width: 20vh;
  height: 8.5vh;
  background-color: #257b50;
  font-size: calc(10px + 2vmin);
}

.buttonReset {
  width: 6.5vh;
  height: 4vh;
  background-color: #8d882a;
  font-size: calc(10px + 1vmin);
}

.finalResultPanel {
  width: 85%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
  background-color: #453b3d;
  border: 10px solid black;
  padding: 10px;
  flex-wrap: wrap;
}

.totalResult {
  font-weight: 650;
  font-size: clamp(16px, 1.3vw, 60px);
  line-height: 1.6;
  background-color: #2b2b2b;
  padding: 10px;
}

.productionBtns {
  width: 3.2vh;
  height: 3.2vh;
  background-color: #8d882a;
  font-size: calc(10px + 2vmin);
}

.divProductionBtns {
  width: 75%;
  height: 50%;
  display: flex;
  gap: 2%;
}

.divProductRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.7vh;
}

.divProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vh;
}

.lastProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vh;
  margin-bottom: 3vh;
}

.infoBtn {
  width: 7vh;
  height: 7vh;
  background-color: #264472;
  font-size: calc(10px + 2vmin);
  margin-left: 4vh;
}

.infoPanel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2da2;
}

.infoTextHolder {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #253d40;
}

.infoText {
  width: 90%;
  color: #fffdd8;
  font-weight: 500;
  font-size: calc(8px + 1.3vmin);
  line-height: 1.5;
  text-align: left;
}

.infoOkBtn {
  width: 12vh;
  height: 6vh;
  background-color: #ad6e36;
  font-size: calc(10px + 2vmin);
}

.mandatoryFieldsPanel {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #253d40;
  gap: 8vh;
}
